<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevAccelerateCore" version="6.0.0-preview4" targetFramework="net45" />
  <package id="DevAccelerateCoreEF" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateCoreExceptionHandlingMsel" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateCoreLoggingMsel" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateEnterpriseSecurity" version="6.0.0-preview1" targetFramework="net45" />
  <package id="DevAccelerateEnterpriseSecurityEF" version="6.0.0-preview1" targetFramework="net45" />
  <package id="DevAccelerateIdentity" version="6.0.0-preview1" targetFramework="net45" />
  <package id="DevAccelerateIdentityEF" version="6.0.0-preview1" targetFramework="net45" />
  <package id="DevAccelerateLists" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateListsEF" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateMail" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateNotifications" version="6.0.0-preview2" targetFramework="net45" />
  <package id="DevAccelerateNotificationsEF" version="6.0.0-preview2" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="NMoneys" version="6.1.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>